{% extends "layout.html" %}

{% load static %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <div class="p-3">
        <table class="table table-light table-sm text-center">
            <div class="text-center">
                <h4> <span class="badge badge-danger">Welcome to Pizzeria API!</span> </h4>
                <h4> <span class="badge badge-danger">Here is a brief overview of our food:</span> </h4>
            </div>
            <tbody>
                {% for category in Categorys %}
                <tr>
                    <td>{{ category.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <h4> <span class="badge badge-danger">Go to '🍕Menu' to get started.</span> </h4>
            <h4> <span class="badge badge-danger">Special Pizza == 5 toppings!</span> </h4>
        </div>
    </div>

{% endblock %}
