{% extends "layout.html" %}

{% load static %}

{% block title %}
    Order
{% endblock %}

{% block main %}

    <div class="p-3">
        {% csrf_token %}
        <table class="table table-hover table-light table-sm text-center">
            <div class="text-center">
                <h4> <span class="badge badge-danger">Cart</span> </h4>
            </div>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for check in Checkout %}
                <tr>
                    <td>{{ check.category }} {{ check.name }}</td>
                    <td> ${{ check.price }}</td>
                    <td><a href="{% url 'delete' check.category check.name check.price %}"><button class="btn btn-primary">Remove</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td> Total </td>
                    <td> ${{Total|floatformat:2}} </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><a href="{% url 'index' %}"><button type="submit" class="btn btn-primary">Checkout</button></a></td>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}
